<template>
  <div class="module">
    Feature module
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import addRoutes from './ModuleRouter';

export default defineComponent({
  name: 'module',
  props: {
    msg: String,
  },
  mounted() {
    addRoutes();
  },
  components: {
  },
});
</script>

<style lang="scss" scoped>

</style>
