<template>
  <div>
    A component {{ nekojprop }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: ['nekojprop'],
});
</script>

<style lang="scss" scoped>

</style>
