<template>
  <div class="home">
    Multiple red
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'multiple-red',
  props: {
    msg: String,
  },
});
</script>
<style lang="scss" scoped>
  .home {
    background-color: red;
    padding: 2em;
  }
</style>
