<template>
  <div class="home">
    Multiple green
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'multiple-green',
  props: {
    msg: String,
  },
});
</script>

<style lang="scss" scoped>
  .home {
    background-color: green;
    padding: 2em;
  }
</style>
