<template>
  <div class="home">
    RA
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Ra',
  props: {
    msg: String,
  },
});
</script>

<style lang="scss" scoped>
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
