<template>
  <div class="menu">
    My menu
    <div class="item" v-for="item in items" :key="item.name">
      <router-link :to="item.route">{{item.name}}</router-link>
    </div>

  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'menu',
  props: ['items'],
});
</script>

<style lang="scss">
  .menu {
    display: flex;
    flex-direction: column;

    .item {
      padding: 1em;
    }
  }
</style>
