<template>
  <div class="main-container">
    <div class="header">
      <div class="item" @click="changeRole('A')">Change role A</div>
      <div class="item" @click="changeRole('B')">Change role B</div>
      <div class="item" @click="changeRole('C')">Change role C</div>
      <div class="item" @click="changeRole('D')">Change role D</div>
      <div class="active-role">Active: {{activeRole}}</div>
    </div>
    <div class="main-body">
      <div class="left">
        <Menu :items="config" />
      </div>
      <div class="right">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Menu from '@/components/Menu.vue';
import store from './store';
import getRoutesForRole from './services/configProvider';

export default defineComponent({
  name: 'Rb',
  components: {
    Menu,
  },
  data() {
    return {
      config: [],
      activeRole: 'D',
    };
  },
  methods: {
    changeRole(role: string) {
      this.activeRole = role;
      store.dispatch('setRole', role);
      this.config = getRoutesForRole(role);
    },
  },
});
</script>

<style lang="scss">
.main-container {
.active-role {
  font-size: 24px ;
}
  .header {
    display: flex;
    padding: 2em;

    .item {
      padding: 0em 2em;
    }
  }

  .main-body {
    display: flex;

    .left {
      flex: 30%;
    }

    .right {
      display: flex;
      flex: 70%;
    }
  }
}
</style>
